
.App-header {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

#About {
  width: 80vw;
  text-align:center;
  margin: auto;
  padding-top: 80px;
  font-size: 16pt;
}

.BangersFont {
  font-family: 'Bangers', cursive;
}

.centerText {
  text-align: center;
}

#Episode-Div{
  margin-top: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  /*background-image: url("./images/download.png");*/
  background-size: cover;
  box-shadow: 0px -30px 30px white inset;
}

.EpisodeCard {
  width: 560px;
  background-color: #f4fcf7;
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
}

.CardDescription {
  padding: 0px 15px;
}

.Menu {
  margin: 30px auto;
  display: flex;
  width: 50vw;
  justify-content: space-around;
}

.MenuItem {
  font-size: 16pt;
  width: 200px;
  border: none;
  background-color: white;
  color: #260060;
  box-shadow: 0px 5px 30px -15px #c0c4c6;  
}

button:focus {
  border: none;
  outline: none;
}

button:hover {
  color: red;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #260060;
}

a:hover {
  text-decoration: none;
}
