#App {
  max-width: 1500px;
  margin: 0 auto;
}

.container {
  width: 80vw;
  text-align:center;
  margin: auto;
  padding-top: 80px;
  font-size: 16pt;
}

#Cast-Inner{
  margin-top: 60px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.castImage {
  margin: 0 10px;
}

.castName {
  margin-top: 0;
  margin-bottom: 30px;
}

#About {
  max-width: 1300px;
  width: 90%;
  text-align:center;
  margin: 50px auto 0 auto;
  font-size: 16pt;
}

.BangersFont {
  font-family: 'Bangers', cursive;
}

.header {
  text-align:center;
  margin: auto;
  font-family: 'Bangers', cursive;
}
.centerText {
  text-align: center;
}

#Episode-Div{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  background-size: cover;
  box-shadow: 0px -30px 30px white inset;
}

.EpisodeCard {
  width: 560px;
  margin-bottom: 20px;
}

.EpisodeImage {
  width: 560px;
}

.CardDescription {
  text-align: center;
  margin: 0 25px 25px 25px;
}

.ContactDiv {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactFormText {
  width: 400px;
  text-align: center;
  font-size: 12pt;
  margin-bottom: 0;
}

.social{
  margin-top: 15px;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.sendButton{
  margin-top: 20px;
}

.textField {
  width: 400px;
}

#Logo {
  display: block;
  max-width: 90%;
  height: auto;
  margin: 20px auto 0 auto;
}

.Menu {
  margin: 30px auto;
  display: flex;
  width: 50vw;
  justify-content: space-around;
}

.MenuItem {
  font-size: 16pt;
  width: 200px;
  border: none;
  background-color: white;
  color: #260060;
  box-shadow: 0px 5px 30px -15px #c0c4c6;  
}

.watchNow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.PaperPlane {
  margin-top: 30px;
}
button:focus {
  border: none;
  outline: none;
}

button:hover {
  color: red;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #260060;
}

a:hover {
  text-decoration: none;
}



@media (max-width: 1200px) {

  .EpisodeCard {
    width: 500px;
  }

  .EpisodeImage {
    width: 500px;
  }
}

@media (max-width: 1024px) {

  #Episode-Div {
    flex-direction: column;
    align-items: center;
  }

  .EpisodeCard {
    width: 90%;
  }

  .EpisodeImage {
    width: 100%;
  }
}

@media (max-width: 860px) {
  #Cast-Inner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 620px) {
  #Cast-Inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {

  .max-mobile {
    max-width: 100%;
  }

  #Episode-Div {
    width: 100%;
  }

  .EpisodeCard {
    width: 100%;
    padding: 0;
  }
  .EpisodeImage {
    width: 100%;
  }

  #Cast-Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}